.container{
  padding: 0px 5px;
  min-height: 90vh;
}

.navigation, .footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  min-height: 10vh;
  background-color: #beb8aa;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 96.5%;
}

.logo{
  flex:2;
}

.navigation .links{
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contentDisplay{
  padding: 5px;
}